<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Lista</title>
    </head>

    <body>
        <div class="container">
            <h1>Lista Registro</h1>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                </tr>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.nombre }}</td>
                    <td>{{ registro.apellido }}</td>
                    <td>{{ registro.edad }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
</body>
</html>